body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(bac1.avif);
    
  
}
.container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 830px;
background-color: #fff;

}
.image-container {
    width: 340px;
   
    margin-right: 15px;
  
}

.image-container img {

    height: auto;
    margin: 20px;
  max-width: 340px;
    margin-left: 20px;
    border-radius: 4px; 
}

.form{

    margin-right: 40px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 335px;
    
      
}



h1{
    font-size: 30px;
}



i[class^='bx bx-user'], i[class^='bx bx-envelope'],i[class^='bx bxs-lock']{
    position:relative;
    top: -20px;
    left: 318px;
    transform: translate(50%);
    font-weight: bold;

}
i[class^='bx bxs-lock']:last-of-type {
    position: relative;
    top: -70px; 
    left: 318px;
    transform: translate(50%);
}

input , select{
    width: 100%;
    height: 35px;
    margin-top:4px;
    border: none;
    border-bottom: 2px solid #000;
    background-color: #fff;
}

.block{
    display: flex;
    width: 100%;   
}
.space{
   width: 154px;
}
#pouss{
    margin-left: 13px;
}
button{
    
    text-align: center;
    margin-top: 30px;
    margin-left: 25%;
    background-color: rgb(37, 27, 2);
    color: #fff; 
    padding: 13px 20px; 
    border: none; 
    cursor: pointer; 
    font-size: 18px; 
    width: 170px;
}